DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DB_NAME?schema=public" 
# docker postgres connection instead of prismas default postgres connection

PORT=3001
FRONTEND_URL=http://localhost:3000

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
